:root {
  --bg-primary: #000000;
  --text-light: #FFFFFF;
  --title-primary: #F5F5F7;
  --subtitle: #6E6E73;
  --action: #2997FF;
}

header {
  background-color: var(--bg-primary);
  color: var(--text-light);
  height: fit-content;
  opacity: 0.9;
  position: sticky;
  top: 0;
  z-index: 1;
}